extends layout

block content
  div.container
     .page-header
       .row
         .col-lg-12
           .well.bs-component
             form.form-horizontal(method='POST')
               fieldset
                 legend= 'チェックフォーム'
                 div.form-group
                   //label.col-lg-2.control-label(for='checkData')= 'チェック用JSON入力フォーム'
                   textarea.form-control(rows=3, id='checkData', name='checkData')= (data?data:'')
                   span.help-block= error
                 div.form-group
                   div.col-lg-12
                     button.btn.btn-primary(type='submit')= 'CHECK!'

